body{
    margin: 0px;
}
p{
    margin: 0px;
    padding: 0px;
}
hr{
    opacity: 0.2;
    border: 1px solid #FFFFFF;
    margin: 0px;
}
a{
    color: rgba(255, 255, 255, 0.575);
    font-family:'Poppins', sans-serif;
    text-decoration: none;
}

.pdr140{
    padding-right: 140px;
}

#header{
    background-color:#F61354 ;
    height:45px ;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    
}
#hSec1{
    display: flex;
    justify-content:space-evenly; 
    padding: 10px 2px;
}
#main{
    background-color: black;
    padding: 68px 80px;
}


#sec1{
    display: flex;
    justify-content: space-between; 
}
#cntUs{
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
    height: 38px;
}
#ipLogo{
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    border-radius: 0px;
    
}
#xSup{
    color: #F61354;
    font-size: 22px;
}

#sec2{
    display: flex;
    justify-content: space-between; 
    margin-top:60px ;
}
@media only screen and (max-width:767px){
    #sec2{
        display:block;
        /* justify-content:none;  */
        margin-top:60px ;
    }
}
#sec2o2{
    color: white;
    width: 550px;
}
#sec2img{
    border: 1px solid gray;
    border-radius: 14px;
}
#sec2o2head{
    font-family: 'Fjalla One', sans-serif;
    font-size: 36px;
    margin-bottom: 30px;
}
.sec2o2smP{
    padding-right: 70px;
    font-size: 11px;
    color: rgba(228, 228, 228, 0.493);
    font-family: 'Poppins', sans-serif;
}
.sec2o2smP2{
    padding-right: 70px;
    color: rgba(228, 228, 228, 0.493);
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
#flwNft{
    height: 35px;
}
#sec2o2tab{
    font-family: 'Poppins', sans-serif;
    margin: 20px 0px;
}
#sec2o2box{
    border: 2px solid rgba(255, 255, 255, 0.507);
    width: 547px;
    height: 500px;
}
#s22bxdv{
    padding: 20px 35px;
}
.sec2o2bxhd{
    font-family: 'Poppins', sans-serif;
    padding:17px 35px;
    color: white;
}
.mainBox{
    border: 2px solid rgba(255, 255, 255, 0.575);
}
.mainBoxH{
    font-family: 'Poppins', sans-serif;
    color: white;
    padding:17px 68px;
}
.ffPop{
    font-family: 'Poppins', sans-serif;
}
#darkPrice{
    font-size: 35px;
    font-family: 'Fjalla One', sans-serif;
}
.paymentLG{
    height: 55px;
    margin: 10px 100px 0px 0px;
}
.paymentLG:hover{
    border-radius: 5px;
    padding: 0px 20px;
    background-color: #180404;
}
.btn{
    border-radius: 5px;
    padding: 20px 50px;
    border: 1px solid #E47298;
    background-color: #180404;
    color: white;
    margin: 10px;
}
.btn:hover{
    background-color: #a86fbb;
    border-color: #c700a6;
}
#btns{
    display: flex;
    justify-content: center;
}
.fs20{
    font-size: 18px;
}
.paragraph{
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 35px;
}
.innerBox{
    padding:  0px 68px;
    color: white;
}
#boxNtxt{
    display: flex;
}
@media only screen and (max-width:767px){
    #boxNtxt{
        display: block;
    }
}
.innerBoxH{
    display: flex;
    justify-content: space-between;
}
.mtb17{
    margin: 17px 0px;
}
.upDown{
    height: 18px;
    margin-top: 18px;
    
    /* background-color: black; */
}
#blankBox{
    border: 1px solid rgba(255, 255, 255, 0.589);
    width: 394px;
    height: 312px;
    margin: 50px 0px 50px 50px;
    
}
#mainBoxes{
    padding: 40px;
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width:1100px){
    #mainBoxes{
        padding: 40px;
        display:block;
        justify-content: space-between;
    }
}
#sec8body{
    display: flex;
    justify-content:space-evenly;
    padding-top:30px ;
}
@media only screen and (max-width:1100px){
    #sec8body{
        flex-direction: column;
    }
}
.footerBox{
    background-color: hsla(0, 0%, 13%, 0.5);
    width: 342px;
    margin: 10px;
    color: rgba(255, 255, 255, 0.5);
}
.footerBox2{
    border-radius: 16px;
    background-color: #121212;
    width: 260px;
    height: 320px;
    padding: 15px;
    margin: 10px;
    color: rgba(255, 255, 255, 0.5);
}
.footerBox:hover{
    color: rgba(255, 255, 255);
    background-color: rgba(47, 47, 47, 0.61);
    border: 1px solid rgba(255, 255, 255, 0.575);
}
.footerBoxTxt{
    font-family: 'Dosis', sans-serif;
    font-size:30px;
    
}
.footerBoxTxtB{
    font-family: 'Montserrat', sans-serif;
    font-size:28px;
}
.footerBoxLogo{
    display: flex;
    margin-top: 67px;
    justify-content: space-between;
}
.footerBoxLogoImg{
    height: 45px;
    margin-right: 38px;
}
.fBoxTab{
    padding: 55px;
}
#sec8{
    border: 0px;
    
}
.arowLR{
    margin-right:10px ;
    padding: 10px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.267);
    border-radius: 50%;
    opacity:80% ;
}
#sec8H{
    margin-right:100px ;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    color: white;
}
#sec8HOut{
    display: flex;
}
.footerBoxImg{
    width: 257.74px;
    height: 175.29px;
    border-radius: 11px;
}
.profPic{
    padding: 5px;
    border-radius: 50%;
    background-color: #5c5b5b77;
    width: 33.26px;
    height: 33.26px;
    margin-right: 20px ;
}
.footerBoxPrc{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    background-color: #080808;
    color: white;
    border-radius: 11px;
    padding: 7px;
    display: flex;
    justify-content: space-between;
}
.footerBoxPrcTxt{
    padding-top: 9px;
}
.footerBoxPrcBtn{
    padding: 5px 12px ;
    border-radius:75px ;
    background-color: #E47298;
}
.footerBoxTbl{
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 20px 0px;
}
.footerBoxTblTxt1{
    font-size: 12.5px;
}
.footerBoxTblTxt2{
    font-size: 11px;
}


#sec9{
    display: flex;
    justify-content: center;
}
#mainBtn{
    background-color: black;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.527);
    border-radius: 27px;
    padding: 13px 60px;
    font-family: 'Poppins', sans-serif;
}
#mainBtn:hover{
    background-color:#a86fbb;
    color:white;
    border: 2px solid #c700a6;
}
#footList li{
    display: inline;
    margin: 18px;
    
}
#footList{
    display: flex;
    justify-content: center;
}